<h2>List of Products</h2>
<br>
<ng-template #loading>
    <span>Loading...please wait</span>
</ng-template>
<ng-template #error>
    <span>{{errorMessage}}</span>
</ng-template>
<ng-template #norecord>
    <app-alternate-template></app-alternate-template>
</ng-template>

<div *ngIf="loaded;else loading">
    <div *ngIf="errorMessage==='';else error">
        <div *ngIf="products && products.length>0;else norecord">
            <table>
                <thead>
                    <tr>
                        <th>Image</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let p of products">
                        <td>
                            <img class="img-style" src="{{p.imageUrl}}" alt="NA">
                        </td>
                        <td>{{p.productName}}</td>
                        <td>{{p.price}}</td>
                        <td>
                            <button type="button">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>